<a title='send to box' href="<%= bookmarklet_link %>"><img alt='Send to box' src='/images/link.png' />Send to box</a>
<p class='subnote'>(Drag the icon above to your bookmarks bar, and drop it there)</p>
<h1>Boxmarklet</h1>
<h2>Send web page's PDF screenshots directly to your box account</h2>