<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js ie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Boxmarklet - One click send web page screenshots to your box account</title>
  <meta name="author" content="Jai Pandya">
  <meta name="description" content="Boxmarklet is a bookmarklet tool which lets you send PDF version of web pages directly to your box account. Drag the bookmarklet icon to install it in your browser.">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/scale.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
  <article>
    <%= yield %>
  </article>
  <script src="js/scripts.js"></script>
</body>
</html>